html
	head
		title!=title
		meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover')

		// Open Graph (https://ogp.me/)
		meta(property='og:type' content=ogType)
		meta(property=urlType content=discordUrl)
		.
			!{opengraph}

		// oEmbed (https://oembed.com/)
		link(href=oembedUrl title='oEmbed' rel='alternate' type='application/json+oembed')

		// Direct resource redirect
		style.
			* { display: none !important; }
		meta(http-equiv='refresh' content=`0; url='${discordUrl}'`)

	body
		a.link(href=discordUrl) Click here if you aren't redirected.